*{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
body {
    background-color: beige;
}
 div#topo {
    color: red;
    display: block;
}
.container{
    width: 960px;
	margin: 0 auto;
}
#conteudo{
    min-width: 200px;
    margin: 100px auto;
}
#help{
    float: right;
}